body {
    position:absolute;
    padding:0;
    margin:0;
}

@font-face {
    font-family: mainFont;
    src: url("AldotheApache.ttf");
}

#body {
    position:absolute;
    left:0;
    top:0;
    display:block;
    text-align:center;
    font-family: mainFont;
    font-weight: normal;
    height:768px;
    width:1024px;
    padding:0;
    overflow:hidden;
    color:white;
}

#body > div {
    position:absolute;
    display:block;
    left:0;
    top:0;
    height:100%;
    width:100%;
    padding:0;
    overflow:hidden;
}

.menu .buttons {
    position:absolute;
    width:200px;
    height:auto;
    right: 100px;
    bottom: 100px;
}

.menu, .loading {
    background-image: url("bg.jpg");
}

.bghud
{
    background-color:rgba(0,0,0,0.5);
}

.loading {
    font-size: 96px;
}

.loading span{
    position:absolute;
    right:20;
    bottom:10;
}

.menu .title {
    font-size: 110px;
    position:absolute;
    left:30px;
    top:30px;
}

.menu .howto {
    font-size: 16px;
    position:absolute;
    left:100px;
    top:300px;
    width:400px;
    height:auto;
    padding:20px;
    color:black;
}
