
.leftPanel {
    width:180px;
    height:180px;
    bottom:0;
    left:0;
}

.centerPanel {
    width:60%;
    height:160px;
    bottom:0;
    left:20%;
}

.rightPanel {
    width:180px;
    height:180px;
    bottom:0;
    right:0;
}

.rightPanel button {
    width:80%;
}

.rightPanel.disabled button {
    opacity:0.4;
}
